.floor {
    position: relative;
    z-index: 2;
}

.floor .floor_content {
    border: 1px solid transparent;
}

.floor .floor_content {
    position: absolute;
    width: 1000px;
    margin-left: -500px;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: 3;
}

#floor-1558059961079 {
    height: 263px;
}

#floor-1558059961079 .floor_bg{
    height:263px;
    background:url(../images/400.jpg);
    background-position:50% 0;
}

#floor-1558494843931 {
    height: 609px;
}

#floor-1558494843931 .floor_bg{
    height: 609px;
    background-image: url(../images/414.jpg);
    background-position: 50% 0;
}

#floor-1556503814245{
    height: 548px;
}

#floor-1556503814245 .floor_bg{
    height: 548px;
    background-image: url(../images/411.jpg);
    background-position: 50% 0;
}

#price-1556503999705{
    position: absolute;
    color: #ffffff;
    top: 298.94793701171875px;
    left: 629.920166015625px;
    font-size: 50px;
    font-weight: bold;
}

#link-1556504146526{
    position: absolute;
    width: 955px;
    height: 497px;
    top: 3.9965362548828125px;
    left: 25.9896240234375px;
}

.floor .link_a {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 4;
}

#floor-1558063490606{
    height: 651px;
}

#floor-1558063490606 .floor_bg{
    height: 651px;
    background-image: url(../images/412.jpg);
    background-position: 50% 0;
}

#link-1558063530324{
    position: absolute;
    width: 963px;
    height: 525px;
    top: 75.84722900390625px;
    left: 16.97918701171875px;
}

#floor-1556503824629{
    height: 573px;
}

#floor-1556503824629 .floor_bg{
    height: 573px;
    background-image: url(../images/413.jpg);
    background-position: 50% 0;
}

#price-1556504048108{
    position: absolute;
    color: #ffffff;
    top: 325.9548873901367px;
    left: 633.9409790039062px;
    font-size: 50px;
}

#floor-1556503877463{
    height: 564px;
}

#floor-1556503877463 .floor_bg{
    height: 564px;
    background-image: url(../images/402.jpg);
    background-position: 50% 0;
}

#price-1556504099714{
    position: absolute;
    color: #ffffff;
    top: 315.98614501953125px;
    left: 108.95834350585938px;
    font-size: 50px;
    font-weight: bold;
}

#link-1556504361271{
    position: absolute;
    width: 958px;
    height: 482px;
    top: 37.965301513671875px;
    left: 11.979156494140625px;
}

#floor-1556503840861{
    height: 563px;
}

#floor-1556503840861 .floor_bg{
    height: 563px;
    background-image: url(../images/401.jpg);
    background-position: 50% 0;
}

#price-1556504072326 {
    position: absolute;
    color: #ffffff;
    top: 316.9583511352539px;
    left: 626.9722290039062px;
    font-size: 50px;
}

.floor .widget_price {
    font-weight: bold;
}

#link-1556504270243{
    position: absolute;
    width: 975px;
    height: 462px;
    top: 45.85418701171875px;
    left: 10.99652099609375px;
}

#floor-1558056579336{
    height: 560px;
}

#floor-1558056579336 .floor_bg{
    height: 560px;
    background-image: url(../images/409.jpg);
    background-position: 50% 0;
}

#link-1558056613028{
    position: absolute;
    width: 967px;
    height: 468px;
    top: 44.71527862548828px;
    left: 14px;
}

#price-1558056691456{
    position: absolute;
    color: #ffffff;
    top: 319.7430877685547px;
    left: 178.9583740234375px;
    font-size: 50px;
}

#floor-1556503867000{
    height: 594px;
}

#floor-1556503867000 .floor_bg{
    height: 594px;
    background-image: url(../images/410.jpg);
    background-position: 50% 0;
}

#price-1556504087363{
    position: absolute;
    color: #ffffff;
    top: 320.9583511352539px;
    left: 613.9618530273438px;
    font-size: 50px;
}

#link-1556504323335{
    position: absolute;
    width: 983px;
    height: 491px;
    top: 33.965301513671875px;
    left: 12.9896240234375px;
}

#floor-1556503941116{
    height: 626px;
}

#floor-1556503941116 .floor_bg{
    height: 626px;
    background-image: url(../images/415.jpg);
    background-position: 50% 0;
}

#floor-1557394468514{
    height: 515px;
}

#floor-1557394468514 .floor_bg{
    height: 515px;
    background-image: url(../images/416.jpg);
    background-position: 50% 0;
}

#floor-1557309561629{
    height: 640px;
}

#floor-1557309561629 .floor_bg{
    height: 640px;
    background-image: url(../images/417.jpg);
    background-position: 50% 0;
}

#link-1557309628776{
    position: absolute;
    width: 995px;
    height: 621px;
    top: 7px;
    left: 4px;
}



